<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='delete.css') }}">
    <title>Delete Employee</title>
</head>
<body>
    <a href = "/">
        <button id="logout">GO BACK HOME</button>
     </a>
     <div id="header">
        <h1>Enter The Alias of Employee to DELETE</h1>
    </div>
    <form id="emp-info" action="{{ url_for('db_delete') }}" method="POST">
       Alias<input required type="text" name ="name" placeholder="Enter Alias (Required)"/><br>
       <input id="submit-btn" type="submit" value="submit"/><br>
    </form>
</body>
</html>