<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='forbidden.css') }}">
    <title>Forbidden Access</title>
</head>
<body>
    <h1>You are NOT allowed to access ANY information from Malta08.</h1>
    <br>
    <h2>The Rapid Response Team has been alrted and dispatched.</h2>
    <h2>We hope to see you SOON.</h2>
    <h2 id="gdlk">Good luck.</h2>
</body>
</html>